@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "SF Pro Display Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SF Pro Display Regular"),
    url("../fonts/SFPRODISPLAYREGULAR.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "SF Pro Display Regular", "Arial", sans-serif;
  color: #ffffff;
  font-size: 12px;
}

.container {
  padding: 0 20px;
}

.main-bg {
  width: 100vw;
  height: 100%;
  background-color: #1b2131;
  background-image: url("../images/4.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 192dpi) {
  .main-bg {
    background-image: url("../images/4@2x.png");
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2.5),
  only screen and (min--moz-device-pixel-ratio: 2.5),
  only screen and (min-resolution: 326dpi) {
  .main-bg {
    background-image: url("../images/4@3x.png");
  }
}

.link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.header {
  padding: 45px 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.22px;
}

.header__link-close {
  width: 16px;
  height: 16px;
}

.article {
  padding: 115px 0 10px;
}

.article-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article__heading {
  font-size: 36px;
  line-height: 42px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0 0 29px;
  display: block;
  text-align: center;
}

.article-features {
  list-style: none;
  margin-bottom: 44px;
}

.article-features__item {
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -0.32px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.68);
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left 50%;
}

.article-features__item:not(:last-child) {
  margin-bottom: 7px;
}

.article-features__item_docs {
  background-image: url("../images/unlimitedDocs.svg");
  background-size: 26px 15px;
}

.article-features__item_export {
  background-image: url("../images/export.svg");
  background-size: 20px 22px;
}

.article-features__item_ocr {
  background-image: url("../images/noAds.svg");
  background-size: 21px 21px;
}

.article-tariff {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 17px;
}

.article-tariff-item {
  width: 137px;
  height: 162px;
  background-image: url("../images/shape-transparency.svg");
  background-repeat: no-repeat;
  background-size: 131px 162px;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
}

.article-tariff-item_active {
  background-image: url("../images/shape-1.svg");
  width: 151px;
  height: 178px;
  background-size: 144px 178px;
  color: #ffffff;
}

.article-tariff-item_annual {
  background-image: url("../images/shape-2-transparent.svg");
}

.article-tariff-item_annual-active {
  color: #ffffff;
  background-image: url("../images/shape-2.svg");
  width: 151px;
  height: 178px;
  background-size: 144px 178px;
}

.article-tariff-item__heading {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 16px;
}

.article-tariff-item__heading_active {
  font-size: 19px;
  line-height: 22px;
  margin-bottom: 11px;
}

.article-tariff-item__price {
  text-align: center;
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 9px;
}

.article-tariff-item__price_active {
  font-size: 15px;
  margin-bottom: 13px;
}

.article-tariff-item__price_big {
  font-size: 24px;
}

.article-tariff-item__price-ammount {
  font-size: 22px;
}

.article-tariff-item__price-ammount_active {
  font-size: 24px;
}

.article-tariff-item__feature {
  background-color: #495795;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  padding: 2px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.article-tariff-item__feature_active {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 11px;
}

.article-tariff-item__month-price {
  font-size: 12px;
  line-height: 14px;
}

.article-tariff-item__month-price_active {
  font-size: 13px;
  line-height: 15px;
}

.article-tariff__discount {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #db0000;
  padding: 9px 1px;
  color: #ffffff;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  position: absolute;
  right: 2px;
  top: 1px;
}

.article-tariff__discount_active {
  width: 38px;
  height: 38px;
  border-radius: 19px;
  padding: 12px 1px;
  right: 1px;
  top: -1px;
}

.button {
  outline: none;
}

.article-button {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background: linear-gradient(270deg, #1987ff 0%, #19ccff 100%);
  border-radius: 30px;
  padding: 19px 105px;
  border: none;
  margin-bottom: 16px;
}

.article__additions {
  font-size: 11px;
  line-height: 13px;
  opacity: 0.5;
  font-family: "Roboto", "Arial", sans-serif;
}

.footer {
  padding: 8px 0 43px;
  font-size: 11px;
  line-height: 13px;
  font-family: "Roboto", "Arial", sans-serif;
  text-decoration: underline;
  color: #bdc0d0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__link {
  display: block;
}

@media only screen and (device-width: 390px) and (device-height: 884px) {
  .container {
    padding: 0 22px;
  }

  .header {
    padding: 48px 0;
  }
  .header__link {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.23px;
  }
  .header__link-close {
    width: 17px;
    height: 17px;
  }
  .article {
    padding: 120px 0 11px;
  }
  .article__heading {
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 30px;
  }
  .article-features {
    margin-bottom: 45px;
  }

  .article-features__item {
    font-size: 18px;
    line-height: 31px;
    padding-left: 33px;
  }
  .article-features__item:not(:last-child) {
    margin-bottom: 11px;
  }
  .article-features__item_docs {
    background-size: 27px 16px;
  }
  .article-features__item_export {
    background-size: 22px 24px;
  }
  .article-features__item_ocr {
    background-size: 23px 23px;
  }
  .article-tariff {
    margin-bottom: 20px;
  }
  .article-tariff-item {
    width: 142px;
    height: 177px;
    background-size: 136px 177px;
  }
  .article-tariff-item_active {
    width: 157px;
    height: 193px;
    background-size: 150px 193px;
  }
  .article-tariff-item_annual-active {
    width: 157px;
    height: 193px;
    background-size: 150px 193px;
  }
  .article-tariff-item__heading {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 17px;
  }
  .article-tariff-item__heading_active {
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .article-tariff-item__price {
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  .article-tariff-item__price_big {
    font-size: 20px;
  }
  .article-tariff-item__price_active {
    font-size: 16px;
    margin-bottom: 14px;
  }

  .article-tariff-item__price-ammount {
    font-size: 24px;
  }

  .article-tariff-item__price-ammount_active {
    font-size: 26px;
  }

  .article-tariff-item__feature {
    font-size: 15px;
    line-height: 17px;
    padding: 3px 1px;
    margin-bottom: 11px;
  }
  .article-tariff-item__feature_active {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .article-tariff-item__month-price {
    font-size: 13px;
    line-height: 15px;
  }

  .article-tariff-item__month-price_active {
    font-size: 14px;
    line-height: 16px;
  }
  .article-tariff__discount {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    padding: 10px 1px;
    font-size: 11px;
    line-height: 13px;
    right: 2px;
    top: 4px;
  }

  .article-tariff__discount_active {
    width: 40px;
    height: 40px;
    border-radius: 21px;
    padding: 13px 1px;
    font-size: 12px;
    right: 1px;
    top: 3px;
  }
  .article-button {
    font-size: 18.5px;
    line-height: 18.5px;
    border-radius: 32px;
    padding: 20px 110px;
    margin-bottom: 16px;
  }
  .article__additions {
    font-size: 12px;
    line-height: 14px;
  }
  .footer {
    padding: 9px 0 48px;
    font-size: 12px;
    line-height: 14px;
  }
}

@media only screen and (device-width: 320px) and (device-height: 568px) {
  .container {
    padding: 0 18px;
  }
  .main-bg {
    background-position: center -25px;
  }
  .header {
    padding: 35px 0;
  }
  .header__link {
    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.2px;
  }
  .header__link-close {
    width: 11px;
    height: 11px;
  }
  .article {
    padding: 75px 0 6px;
  }
  .article__heading {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 19px;
  }
  .article-features {
    margin-bottom: 30px;
  }

  .article-features__item {
    font-size: 13px;
    line-height: 20px;
    padding-left: 28px;
  }
  .article-features__item:not(:last-child) {
    margin-bottom: 7px;
  }
  .article-features__item_docs {
    background-size: 22px 10px;
  }
  .article-features__item_export {
    background-size: 18px 25px;
  }
  .article-features__item_ocr {
    background-size: 19px 14px;
  }
  .article-tariff {
    margin-bottom: 10px;
  }
  .article-tariff-item {
    width: 119px;
    height: 113px;
    background-size: 114px 113px;
  }
  .article-tariff-item_active,
  .article-tariff-item_annual-active {
    width: 131px;
    height: 124px;
    background-size: 126px 124px;
  }

  .article-tariff-item__heading {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 11px;
  }
  .article-tariff-item__heading_active {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 7px;
  }
  .article-tariff-item__price {
    font-size: 10px;
    line-height: 11px;
    margin-bottom: 6px;
  }
  .article-tariff-item__price_big {
    font-size: 16px;
  }
  .article-tariff-item__price_active {
    font-size: 11px;
    margin-bottom: 9px;
  }

  .article-tariff-item__price-ammount {
    font-size: 16px;
  }

  .article-tariff-item__price-ammount_active {
    font-size: 17px;
  }

  .article-tariff-item__feature {
    font-size: 10px;
    line-height: 11px;
    padding: 2px;
    margin-bottom: 7px;
    width: 90%;
  }
  .article-tariff-item__feature_active {
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 8px;
  }

  .article-tariff-item__month-price {
    font-size: 9px;
    line-height: 10px;
  }

  .article-tariff-item__month-price_active {
    font-size: 9px;
    line-height: 10px;
  }
  .article-tariff__discount {
    width: 21px;
    height: 21px;
    border-radius: 10px;
    padding: 6px 1px;
    font-size: 8px;
    line-height: 8px;
    right: 13px;
    top: 0px;
  }

  .article-tariff__discount_active {
    width: 27px;
    height: 27px;
    border-radius: 13px;
    padding: 9px 1px;
    right: 13px;
    top: -2px;
  }
  .article-button {
    font-size: 12px;
    line-height: 12px;
    border-radius: 20px;
    padding: 13px 90px;
    margin-bottom: 10px;
  }
  .article__additions {
    font-size: 8px;
    line-height: 9px;
  }
  .footer {
    padding: 6px 0 26px;
    font-size: 8px;
    line-height: 9px;
  }
}
@media only screen and (device-width: 375px) and (device-height: 667px) {
  .main-bg {
    background-position: center -15px;
  }
  .header {
    padding: 35px 0;
  }
  .header__link {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.22px;
  }
  .header__link-close {
    width: 15px;
    height: 15px;
  }
  .article {
    padding: 105px 0 8px;
  }
  .article__heading {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 26px;
  }
  .article-features {
    margin-bottom: 25px;
  }

  .article-features__item {
    font-size: 15px;
    line-height: 23px;
    padding-left: 30px;
  }
  .article-features__item:not(:last-child) {
    margin-bottom: 3px;
  }

  .article-features__item_docs {
    background-size: 24px 13px;
  }

  .article-features__item_export {
    background-size: 18px 20px;
  }

  .article-features__item_ocr {
    background-size: 19px 19px;
  }

  .article-tariff {
    margin-bottom: 12px;
  }
  .article-tariff-item {
    width: 115px;
    height: 140px;
    background-size: 109px 140px;
  }
  .article-tariff-item_active,
  .article-tariff-item_annual-active {
    width: 129px;
    height: 159px;
    background-size: 122px 159px;
  }

  .article-tariff-item__heading {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 13px;
  }
  .article-tariff-item__heading_active {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 11px;
  }
  .article-tariff-item__price {
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 7px;
  }
  .article-tariff-item__price_big {
    font-size: 20px;
  }
  .article-tariff-item__price_active {
    font-size: 13px;
    margin-bottom: 11px;
  }

  .article-tariff-item__price-ammount {
    font-size: 20px;
  }

  .article-tariff-item__price-ammount_active {
    font-size: 22px;
  }

  .article-tariff-item__feature {
    font-size: 11px;
    line-height: 13px;
    padding: 2px 1px;
    margin-bottom: 9px;
  }
  .article-tariff-item__feature_active {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 10px;
  }

  .article-tariff-item__month-price {
    font-size: 10px;
    line-height: 12px;
  }

  .article-tariff-item__month-price_active {
    font-size: 11px;
    line-height: 13px;
  }
  .article-tariff__discount {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    padding: 7px 2px;
    font-size: 9px;
    line-height: 10px;
    right: 2px;
    top: 3px;
  }

  .article-tariff__discount_active {
    width: 33px;
    height: 33px;
    border-radius: 17px;
    padding: 11px 1px;
    right: 0px;
    top: 2px;
    font-size: 11px;
    line-height: 12px;
  }
  .article-button {
    font-size: 14px;
    line-height: 14px;
    border-radius: 28px;
    padding: 15px 90px;
    margin-bottom: 10px;
  }
  .article__additions {
    font-size: 10px;
    line-height: 12px;
  }
  .footer {
    padding: 5px 0 31px;
    font-size: 10px;
    line-height: 12px;
  }
}

@media only screen and (device-width: 414px) and (device-height: 736px) {
  .main-bg {
    background-position: center -30px;
  }
  .container {
    padding: 0 25px;
  }

  .header {
    padding: 40px 0;
  }

  .article {
    padding: 110px 0 8px;
  }
  .article__heading {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .article-features {
    margin-bottom: 28px;
  }

  .article-features__item {
    font-size: 17px;
    line-height: 25px;
    padding-left: 30px;
  }
  .article-features__item:not(:last-child) {
    margin-bottom: 5px;
  }

  .article-tariff {
    margin-bottom: 14px;
  }
  .article-tariff-item {
    width: 125px;
    height: 151px;
    background-size: 129px 149px;
  }
  .article-tariff-item_active,
  .article-tariff-item_annual-active {
    width: 139px;
    height: 169px;
    background-size: 132px 169px;
  }

  .article-tariff-item__heading {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 14px;
  }
  .article-tariff-item__heading_active {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;
  }
  .article-tariff-item__price {
    font-size: 13px;
    line-height: 14px;
    margin-bottom: 8px;
  }

  .article-tariff-item__price_big {
    font-size: 20px;
  }
  .article-tariff-item__price_active {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .article-tariff-item__price-ammount {
    font-size: 21px;
  }

  .article-tariff-item__price-ammount_active {
    font-size: 23px;
  }

  .article-tariff-item__feature {
    font-size: 12px;
    line-height: 14px;
    padding: 2px 1px;
    margin-bottom: 10px;
  }
  .article-tariff-item__feature_active {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 11px;
  }

  .article-tariff-item__month-price {
    font-size: 11px;
    line-height: 13px;
  }

  .article-tariff-item__month-price_active {
    font-size: 12px;
    line-height: 14px;
  }
  .article-tariff__discount {
    width: 27px;
    height: 27px;
    border-radius: 13px;
    padding: 8px 2px;
    font-size: 10px;
    line-height: 11px;
    right: 2px;
    top: 1px;
  }

  .article-tariff__discount_active {
    width: 34px;
    height: 34px;
    border-radius: 17px;
    padding: 11px 1px;
    font-size: 12px;
    line-height: 13px;
    right: 1px;
    top: 2px;
  }
  .article-button {
    font-size: 15px;
    line-height: 15px;
    border-radius: 28px;
    padding: 16px 105px;
    margin-bottom: 15px;
  }

  .footer {
    padding: 8px 0 31px;
    font-size: 10px;
    line-height: 12px;
  }
}
